@font-face {
    font-family: "returnofganon";
    src: url('../returnofganon.ttf');
}

@font-face {
    font-family: "charlemagne";
    src: url('../CharlemagneBold.otf');
}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
  background: linear-gradient(#489848, #285830);
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  font-family: charlemagne;
  font-weight: bolder;
  margin-bottom: 20px;
}

.logo {
  font-size: 40px;
  color: gold;
}

.logo2 {
  font-size: 20px;
}

.close {
  display: none;
}

.game-area {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.link-sword {
  width: 247px;
  height: 225.5px;
}

.links {
  display: flex;
  align-items: center;
  width: 60%;
}

a > img {
  width: 50%;
  margin: 0 auto;
}

.middle-column {
  display: flex;
  width: 50%;
  height: 100%
}

.right-column {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.info-canvas {
  background: black;
  align-self: center;
}

.link-bow {
  width: 246.18px;
  height: 197.67px;
  align-self: flex-end;
}

.game-window {
  width: 710px;
  height: 504px;
  background: url('../light-world.gif');
  background-size: cover;
  border: 1px solid black;
  margin: 0 auto;
}

.main-menu {
  width: 710px;
  height: 504px;
  background: black;
  color: white;
  margin: 0 auto;
  border: 1px solid black;
  font-family: returnofganon;
}

.start-game-button {
  text-align: center;
  position: relative;
  top: 45%;
  font-size: 30px;
}

.instructions {
  text-align: center;
  position: relative;
  top: 60%;
  font-size: 30px;
}

.start-game-button:hover {
  cursor: pointer;
}

.game-over {
  font-size: 30px;
  border: 1px solid black;
  width: 710px;
  height: 504px;
  background: black;
  color: white;
  font-family: returnofganon;
}

.game-over-text {
  text-align: center;
  position: relative;
  top: 45%;
  font-size: 30px;
}

.hidden {
  display: none;
}

.music-button {
  position: absolute;
  z-index: 1;
}
