@font-face {
    font-family: "ReturnofGanon";
    src: url('../returnofganon.ttf');
}

body {
  background: linear-gradient(#489848, #285830);
  margin: 0;
}

header {
  text-align: center;
  font-family: ReturnofGanon;
}

.close {
  display: none;
}

.game-area {
  display: flex;
  flex-direction: row;
}

.link-sword {
  width: 20%;
  height: 20%;
}

.link-bow {
  align-self: flex-end;
  width: 20%;
  height: 20%;
}

.game-window {
  background: url('../light-world.gif');
  background-size: cover;
  margin: 0 auto;
  border: 1px solid black;
}

.main-menu {
  width: 710px;
  height: 504px;
  background: red;
  margin: 0 auto;
  border: 1px solid black;
}

.start-game-button {
  font-family: ReturnofGanon;
  text-align: center;
}
